.publicContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.publicHeader {
  background-color: #1a237e;
  color: white;
  height: 60px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;

}

.publicMain {
  flex-grow: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; 
}

.publicFooter {
  background-color: #1a237e; 
  color: #a0aec0; 
  padding: 1.5rem; 
  text-align: center; 
  font-size: 0.85rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}